@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
  margin: 0;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  padding: 3em 1em;
}
input[type='text'] {
  padding: 0.5em;
  border: 2px solid transparent;
  border-radius: 5px;
  background: transparent;
  color: #333739;
}
input[type='text']:hover {
  border: 2px solid rgb(189 118 190);
}
input[type='text']:focus {
  background: #78b5c9;
  outline: none;
  border: 2px solid rgb(189 118 190);
}
button:focus {
  outline: 0;
}
